<div class="card">
  <div class="container-legend">
    <div class="content-legend">
      <div class="text-legend">
        <h1>Máscara</h1>
      </div>
      <div class="logo-legend">
        <div class="cardLegend">
          <img src="/assets/img/required-mask.png" alt="icon máscara">
          <p>Obrigatório</p>
        </div>
        <div class="cardLegend">
          <img src="/assets/img/recommended-mask.png" alt="icon máscara">
          <p>Recomendado</p>
        </div>
      </div>
    </div>
    <div class="content-legend">
      <div class="text-legend">
        <h1>Toalha</h1>
      </div>
      <div class="logo-legend">
        <div class="cardLegend">
          <img src="/assets/img/required-towel.png" alt="icon máscara">
          <p>Obrigatório</p>
        </div>
        <div class="cardLegend">
          <img src="/assets/img/recommended-towel.png" alt="icon máscara">
          <p>Recomendado</p>
        </div>
      </div>
    </div>
    <div class="content-legend">
      <div class="text-legend">
        <h1>Bebedouro</h1>
      </div>
      <div class="logo-legend">
        <div class="cardLegend">
          <img src="/assets/img/partial-fountain.png" alt="icon máscara">
          <p>Parcial</p>
        </div>
        <div class="cardLegend">
          <img src="/assets/img/forbidden-fountain.png" alt="icon máscara">
          <p>Proibido</p>
        </div>
      </div>
    </div>
    <div class="content-legend">
      <div class="text-legend">
        <h1>Vestiários</h1>
      </div>
      <div class="logo-legend">
        <div class="cardLegend">
          <img src="/assets/img/required-lockerroom.png" alt="icon máscara">
          <p>Liberado</p>
        </div>
        <div class="cardLegend">
          <img src="/assets/img/partial-lockerroom.png" alt="icon máscara">
          <p>Parcial</p>
        </div>
        <div class="cardLegend">
          <img src="/assets/img/forbidden-lockerroom.png" alt="icon máscara">
          <p>Fechado</p>
        </div>
      </div>
    </div>
  </div>
</div>
