.container-card {
  width: 100%;
  max-width: 55vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 10px;

  background-color: var(--light-grey-015);
}

.container-card .card {
  width:25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
   gap: 5px;
}
.text-legend{
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 7px;
  color: var(--dark-grey);
  font-family: Gotham;
  font-weight: 600;
}
.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 5px;
}

.img-Icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img-Icon img{
  height: 40px;
}
.img-Icon p{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: var(--dark-grey);
  font-family: Gotham;
  font-weight: 300;
}

@media (max-width: 768px){
  .container-card {
  max-width: 70vw;
  padding: 5px;
  flex-direction: column;

}
.card-img {
  gap: 20px;
}

.img-Icon img{
  height: 50px;
}
}


