<div class="legend">
  <div class="legend-item">
    <h4>Máscara</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img title="Obrigátório" src="/assets/img/required-mask.png" />
      </div>
      <div class="legend-image">
        <img title="Recomendado" src="/assets/img/recommended-mask.png" />
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Toalha</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img title="Obrigátório" src="/assets/img/required-towel.png" />
      </div>
      <div class="legend-image">
        <img title="Recomendado" src="/assets/img/recommended-towel.png" />
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Bebedouro</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img title="Parcial" src="/assets/img/partial-fountain.png" />
      </div>
      <div class="legend-image">
        <img title="Proibido" src="/assets/img/not_allowed-fountain.png" />
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Vestiários</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img title="Liberado" src="/assets/img/allowed-lockerroom.png" />
      </div>
      <div class="legend-image">
        <img title="Parcial" src="/assets/img/partial-lockerroom.png" />
      </div>
      <div class="legend-image">
        <img title="Fechado" src="/assets/img/closed-lockerroom.png" />
      </div>
    </div>
  </div>
</div>
