.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 12px 8px;
  border-radius: 13px;

  background-color: #25252515;
  transition: all 0.3s ease;
  gap: 10px;

  width: 300px;
  height: 340px;
}

.card:hover {
  transform: translateY(-5px);
}

.card .divider {
  height: 2px;
  border-radius: 100%;
  width: 100%;
  background-color: #d7d7d7;
}
.checkboxFavorits {
  display: flex;
  height: 2px;
  width: 100%;
  justify-content: flex-end;
}

.card span {
  display: flex;
  font-weight: 700;
  color: var(--red);
  width: 100%;
  font-size: 15px;
  justify-content: flex-end;
}

.card span.opened {
  color: var(--green);
}

.card h3 {
  color: var(--dark-grey);
  font-size: 22px;
  font-weight: bold;
}

.card p {
  color: var(--light-grey);
  font-size: 12px;
}

.card ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  padding-bottom: 5px;
}

.card li {
  display: flex;
  flex-direction: column;

  color: var(--dark-grey);
  font-weight: 500;
  font-size: 12px;
}

.card li b {
  font-size: 16px;
  color: var(--dark-grey);
}

.card img {
  height: 50px;
}

@media (max-width: 768px) {
  .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 6px 8px;
  border-radius: 8px;

  background-color: rgba(0, 0, 0, 0.1);

  -webkit-box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.15);
  -moz-box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.15);
  box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.15);
  transition: all 0.3s ease;
  gap: 8px;

  width: 300px;
  height: 350px;
}
}
