<div class="card">

  <span [ngClass]="{opened: card.opened}">{{ card.opened ? 'Aberto' : 'Fechado'}}</span>
  <h3>{{ card.title }}</h3>
  <p [innerHTML]="card.content"></p>

  <div class="divider"></div>

  <ul>
    @if(card.mask){
    <img [src]="'./assets/img/' + card.mask + '-mask.png'" alt="masks" title="Mascáras"/>
    }
    @if (card.towel){
    <img [src]="'./assets/img/' + card.towel + '-towel.png'" alt="towel" title="Banheiro"/>
    }
    @if (card.fountain) {
    <img [src]="'./assets/img/' + card.fountain + '-fountain.png'" alt="fountain" title="Bebedouro"/>
    }
    @if (card.locker_room) {
    <img [src]="'./assets/img/' + card.locker_room + '-lockerroom.png'" alt="locker" title="Vestiário"/>
    }
  </ul>

  <ul>
    @for (item of card.schedules ; track item) {
    <li>
      <b>{{ item.weekdays }}</b>
      {{ item.hour }}
    </li>
    }
  </ul>
</div>
