header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
  min-width: 100%;

  gap: 30px;
  padding-bottom: 23px;
}


header .logo-container {
  background: black;
  padding: 34px 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

header .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  max-width: 80%;
  margin: 0 auto;
  gap: 20px;
}

header .text-container h1 {
  font-size:50px;
  font-family: Gotham;
  color: var(--dark-grey);
}

header .text-container p {
  font-size: 20px;
  color: var(--light-grey);
  font-family: Gotham;
}


header .text-container .heading{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  margin-bottom: 24px;
  gap: 12px;
}
header .text-container .heading-tracy{
 height: 5px;
 width: 45%;
  background-color: var(--dark-grey);
}


header img {
  width: 11%;
}


@media (max-width: 768px) {
  header img {
  width: 50%;
}

header .text-container {
   min-width: 80%;
}
header .text-container h1 {
   min-width: 80%;
  font-size: 40px;
}

header .text-container p {
  font-size: 17px;
  color: var(--dark-grey);
  font-family: Gotham;
  font-weight: 300;
}
}
