<form [formGroup]="formGroup" class="container-login" (ngSubmit)="onLogin()">
  <div class="card-login">
    <img src="./assets/img/svg/logoDark.svg" alt="Logo Smart-Fit -1" class="logo-icon">
    <div class="content-card">
      <label for="user">Usuario</label>
      <input type="text" name="user" formControlName="user">
    </div>
    <div class="content-card">
      <label for="password">Senha</label>
      <input type="password" name="password" formControlName="password">
    </div>
    <div class="text-erro">
      {{error}}
    </div>
    <button type="submit" class="btn-login">Login</button>
  </div>
</form>
