<form [formGroup]="formGroup" class="container-login" (ngSubmit)="onLogin()">
  <div class="card-login">
    <img src="./assets/img/svg/logoDark.svg" alt="Logo Smart-Fit -1" class="logo-icon">
    <div class="content-card">
      <input type="text" id="username" formControlName="username" autocomplete="country-name" placeholder="Nome">
    </div>
    <div class="content-card">
      <input type="password" id="password" formControlName="password" autocomplete="current-password"
        placeholder="Senha">
    </div>
    <div class="text-erro">
      {{error}}
    </div>
    <button type="submit" class="btn-login">Entrar</button>
  </div>
</form>
