.container-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 136px 0px;
  border-radius: 4px;
}

.container-form .content-filters {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 0.9rem;
}

.content-filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

input[type="radio"] {
  display: none;
}

.title-filter {
  font-size: 1.9rem;
  font-weight: 700;
  font-family:Gotham ;
}
.title-filter-resultados {
  font-size: 0.9rem;
  font-weight: 500;
  font-family:Gotham ;
  padding: 2px 0;
}

.text-check {
  font-size: 1.1rem;
  font-weight: 400;
  gap: 2px;
  font-family:Gotham ;
}

.modal {
  display: none;
}

.progress {
  width: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.label-title-filter {
  font-size: 1.5rem;
  color: #252525;
  font-weight: 600;
  font-family:Gotham ;
}

.container-form .radio-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 5px 0;
  position: relative;
  gap: 4px;
}

.container-form .radio-wrapper span {
  position: absolute;
  right: 0;
  color: var(--light-grey-010);
}

.container-form .btn-wrapper .btn {
  font-size: 15px;
  border-radius: 4px;
  color: var(--dark-grey);
  font-weight: 700;
  font-family:Gotham ;
  padding: 10px;
  width: 40%;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.container-form .btn-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  justify-content: center;
}

.container-form .btn-wrapper .btn-primary {
  background-color: var(--yellow);
}

.container-form .btn-wrapper .btn-secondary {
  background-color: transparent;
  border: 2px solid var(--light-grey-010);
}
.container-form .checkbox-wrapper {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  align-items: center;
}

.container-form .checkbox-wrapper .label-checkbox {
  padding: 0 4px;
}

@media (max-width: 768px) {
  .container-form {
    display: none;
  }

  .container-form .form-textIcon {
    padding-bottom: 10px;
  }

  .modal {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 30px;

    color: #252525;
    font-size: 17px;
    border: none;
    border-radius: 100px;
    font-family:Gotham ;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    transition: all 0.1s;
    border: 1px solid var(--yellow-010);
    margin-top: 5rem;
  }

  .container-form h3 {
    width: 80%;
    font-size: 25px;
    padding: 15px 0;
  }

  .container-form .radio-wrapper {
    width: 100%;
  }

  .container-form .checkbox-wrapper {
    color: var(--light-grey);
    margin: 30px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .container-form .btn-wrapper .btn {
    width: 100%;
    font-size: 15px;
  }
  .container-form .btn-wrapper {
    flex-direction: column;
  }
}
button {
  font-size: 18px;
  color: #252525;
  font-family: inherit;
  font-family:Gotham ;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: var(--yellow);
}

button:focus:after:active,
button:hover:after {
  width: 100%;
  left: 0%;
}

.selectbox {
  cursor: pointer;
  outline: 0;
  color: #252525;
  font-size: 12px;
 padding: 4px 7px;
  border-radius: 5px;
  border: 0px solid #ffffff;
  background-color: #ededed;
}
.selectbox:hover,
.selectbox:focus {
  background-color: #ffffff;
  color: #000000;
  border: 0px solid #ffffff;
}
