<div class="content-notFound">
  <div class="container">
    <div class="title">
      Oops!
    </div>
    <div class="description">

      <h1 class="title-notFound">Página não encontrada</h1>
      <p>Aqui estão alguns links úteis:</p>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/academias">Buscar Academia</a></li>
      </ul>
    </div>
  </div>
  <img src="/assets/img/svg/undraw_page_not_found_re_e9o6 (1).svg" alt="404 not found" class="img-prin">
</div>
