.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  animation: fade 0.5s;
}

.card-separator {
  width: 100%;
  display: flex;
  max-width: 65%;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
}

.app-load {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (max-width: 768px) {
  .card-separator {
    width: 100%;
    max-width: 90%;
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
