<form class="container-form" [formGroup]="formgroup">
  <div class="content-filters">
    <h1 class="title-filter">Filtros</h1>
    <div class="progress">
      <h1 class="title-filter-resultados">{{resultadosCount}}</h1>
      <mat-progress-bar mode="determinate" value="{{resultadosCount}}"></mat-progress-bar>
    </div>

  </div>
  <search-list (searchcomponent)="onGetFilters($event)" />
  <horarios (filterhorarios)="onGetFilters($event)" />
  <estrutura (estrutura)="onGetFilters($event)" />
  <local (local)="onGetFilters($event)" />
  <fechadas (undfechada)="onGetFilters($event)" />
</form>
<button (click)="openModal()" class="modal">Filtro</button>
<modal [isvisible]="isModalVisible" (closed)="onModalClosed()" (modal)="onGetFilters($event)" />
