<div class="modal" tabindex="-99" [ngClass]="{'show': isVisible}" (click)="close()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="usercontent">
        <h1><span>{{username}}</span></h1>
      </div>
      <div class="modal-header">
        <a routerLink="/home"><img src="./assets/img/svg/logoDark.svg" alt="Logo Smart-Fit -1" class="logo-icon"></a>
        <button type="button" class="close" aria-label="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="btn-acad"><a routerLink="/forms">Buscar Academia</a></div>
        <nav class="nav-container">
          <ul>
            <li>
              <a routerLink="/home">Home</a>
            </li>
          </ul>
          <div class="btn">
            <button type="button" (click)="logout()" class="btn-logout">Sair</button>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
