.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.457) ;
}

.logo-icon{
  width: 7rem;

}
.modal-body {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  align-items: center;
}
.username{
  display: flex;
  text-transform: uppercase;
}
.modal.show {
  display: block;
}

.modal-dialog {
  position: relative;
  display: flex;
  justify-content: right;
  pointer-events: none;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-container ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.nav-container li a {
  display: flex;
  list-style: none;
  padding: 10px;
  font-size: 1rem;
  text-decoration: none;
  color: var(--dark-grey);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100vh;
  justify-content: right;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  border-radius:  20px 0 0 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: opct 0.8s linear;
}

.btn-acad{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 45px;
  margin: 10px auto;
  border: 1px solid #252525;
  border-radius: 50px;
  text-decoration: none;
}

.btn-acad a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 13px;
  color:#252525
}

.btn{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 1rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.close {
  font-size: 2.9rem;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: #252525;
  cursor: pointer;
}

.btn-logout{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 35px;
  border-radius: 5px;
  background-color: #f43b3bdd;
  color: #fff;
  border: none;
}

.content-filters {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 10px;
  padding: 18px 0;
}

.usercontent{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top:15px;
}

.usercontent span{
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark-grey);
}

@keyframes opct {
  0% {
  margin-left: 100%;

  }
  50% {
     margin-left: 50%;
    }
  100% {
 margin-left: 0%;
}

}@media (max-width: 768px) {
.modal-content{
      position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    justify-content: right;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
}
}
