<form [formGroup]="formGroup">
  <div class="content-filters">
    <h1 class="label-title-filter">Estrutura</h1>
    <div class="radio-wrapper">
      <button class="text-check" (click)="onFilterMask()">Máscara</button>
    </div>
    <div class="radio-wrapper">
      <button class="text-check" (click)="onFilterTowel()">Banheiro</button>
    </div>
    <div class="radio-wrapper">
      <button class="text-check" (click)="onFilterFountain()">Bebedouro</button>
    </div>
    <div class="radio-wrapper">
      <button class="text-check" (click)="onFilterLocker()">Vestiário</button>
    </div>
  </div>
</form>
