<form class="container-form" [formGroup]="formGroup">
  <h1 class="title-filter">Aplicar<br>Filtros</h1>
  <h1 class="title-filter-resultados">{{resultadosCount}} Unidades<br>Encontradas</h1>
  <div class="content-filters">
    <h1 class="h1-title-filter">Horario</h1>
    <div class="radio-wrapper">
      <input type="radio" name="hour" value="morning" formControlName="hour">
      <label class="text-check" for="morning" (click)="onMorning()">Manhã</label>
    </div>
    <div class="radio-wrapper">
      <input type="radio" name="hour" value="afternoon" formControlName="hour">
      <label class="text-check" for="afternoon" (click)="onAfternoon()">Tarde</label>
    </div>
    <div class="radio-wrapper">
      <input type="radio" name="hour" value="night" formControlName="hour">
      <label class="text-check" for="night" (click)="onNight()">Noite</label>
    </div>
  </div>
  <div class="content-filters">
    <h1 class="h1-title-filter">Estrutura</h1>
    <div class="radio-wrapper">
      <input type="radio" name="hour" value="mask" formControlName="hour">
      <label class="text-check" for="mask" (click)="onFilterMask()">Máscara</label>
    </div>
    <div class="radio-wrapper">
      <input type="radio" name="hour" value="towel" formControlName="hour">
      <label class="text-check" for="towel" (click)="onFilterTowel()">Banheiro</label>
    </div>
    <div class="radio-wrapper">
      <input type="radio" name="hour" value="fountain" formControlName="hour">
      <label class="text-check" for="fountain" (click)="onFilterFountain()">Bebedouro</label>
    </div>
    <div class="radio-wrapper">
      <input type="radio" name="hour" value="locker_room" formControlName="hour">
      <label class="text-check" for="locker_room" (click)="onFilterLocker()">Vestiário</label>
    </div>
  </div>
  <div class="content-filters">
    <h1 class="h1-title-filter">Localidade</h1>
    <div class="radio-wrapper">
      <select id="uf" formControlName="uf" (click)="onSearchLocal()">
        <option value="">Selecionar UF</option>
        @for (uf of localUF; track $index) {
        <option [value]="uf">{{uf}}</option>
        }
      </select>
    </div>
  </div>
  <div class="content-filters">
    <p class="h1-title-filter">Unidades <br>Fechadas</p>
    <div class="checkbox-wrapper">
      <input type="radio" name="showClosed" formControlName="showClosed" />
      <label for="showClosed" class="text-check" (click)="onShowClose()">Exibir</label>
    </div>
  </div>
</form>
