.container-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 24px;
  border-radius: 4px;
}

.container-form .content-filters {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 8px;
  padding: 18px 0;
}

input[type="radio"] {
  display: none;
}

.title-filter {
  font-size: 1.9rem;
  font-weight: 700;
  padding: 15px 0;
}
.title-filter-resultados {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 2px 0;
}

.text-check {
  font-size: 1.1rem;
  font-weight: 500;
}

.modal {
  display: none;
}

.h1-title-filter {
  font-size: 1.5rem;
  color: #252525;
  font-weight: 600;
}

.container-form .radio-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 5px 0;
  position: relative;
  gap: 4px;
}

.container-form .radio-wrapper span {
  position: absolute;
  right: 0;
  color: var(--light-grey-010);
}

.container-form .btn-wrapper .btn {
  font-size: 15px;
  border-radius: 4px;
  color: var(--dark-grey);
  font-weight: 700;
  padding: 10px;
  width: 40%;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.container-form .btn-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  justify-content: center;
}

.container-form .btn-wrapper .btn-primary {
  background-color: var(--yellow);
}

.container-form .btn-wrapper .btn-secondary {
  background-color: transparent;
  border: 2px solid var(--light-grey-010);
}
.container-form .checkbox-wrapper {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  align-items: center;
}

.container-form .checkbox-wrapper .label-checkbox {
  padding: 0 4px;
}

@media (max-width: 768px) {
  .container-form {
    display: none;
  }

  .container-form .form-textIcon {
    padding-bottom: 10px;
  }

  .modal {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 30px;

    color: #252525;
    font-size: 17px;
    border: none;
    border-radius: 100px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    transition: all 0.1s;
    border: 1px solid var(--yellow-010);
  }

  .container-form h3 {
    width: 80%;
    font-size: 25px;
    padding: 15px 0;
  }

  .container-form .radio-wrapper {
    width: 100%;
  }

  .container-form .checkbox-wrapper {
    color: var(--light-grey);
    margin: 30px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .container-form .btn-wrapper .btn {
    width: 100%;
  }
  .container-form .btn-wrapper {
    flex-direction: column;
  }
  .container-form .btn-wrapper .btn {
    font-size: 15px;
  }
}
