<footer>
  <div class="logo-footer">
    <img src="/assets/img/svg/logo.svg" alt="Logo-Footer-Smart-Fit" class="img-prin">
    <div class="text-footer">
      <h3>Desenvolvido por <span class="name">Douglas Andrade</span></h3>
      <div class="icon">
        <img src="/assets/img/svg/logo-angular.svg" alt="angular">
        <img src="/assets/img/svg/logo-html5.svg" alt="html5">
        <img src="/assets/img/svg/logo-npm.svg" alt="npm">
        <img src="/assets/img/svg/logo-vercel.svg" alt="vercel">
      </div>
      <h3>Since 2024</h3>
    </div>
  </div>
</footer>
