footer {
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #252525;
  bottom: 0;
  position: relative;
}

footer .logo-footer {
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

footer .text-footer h3 {
  font-size: 14px;
  font-family: Gotham;
  color: var(--light-grey-010);
  font-weight: 300;
  margin: 0;
}

footer .logo-footer .img-prin {
  height: 50px;
}
.name{
  color: var(--light-grey-010);
  font-size: 14px;
  font-family: Gotham;
  font-weight: 600;
}

.icon {
  display: flex;
  height: 30px;
  gap: 5px;
}


@media (max-width: 768px) {
  footer .text-footer h3 {
    font-size: 14px;
  }
}
