header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 6px 9px -4px rgba(0, 0, 0, 0.1);
}

header .header-container {
  background-color: #ffff;
  padding: 20px 40px;
  width: 100%;
  gap:92%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo-icon {
  display: flex;
  width: 110px;

}

.nav-container {
  width: auto;
  display: flex;
  flex-direction: row;
}

.modal {
  width: auto;
  display: flex;
  cursor: pointer;
  transition: all 0.1s;
  justify-content: center;
  align-items: center;


}
.modal-app{
  display: inherit;
}

@media (max-width: 768px) {
  header img {
    display: flex;
    width: 30%;
  }

  header .header-container {
    background-color: #ffff;
  width: 100%;
    gap: 65%;
  display: flex;
  align-items: center;

}

.modal {
  position: relative;
  width: auto;
  display: flex;
  cursor: pointer;
  transition: all 0.1s;
  justify-content: center;
  align-items: center;

}

}
