<div class="modal" tabindex="-1" [ngClass]="{'show': isvisible()}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="title-filter">Filtros</h1>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup">
          <horarios (filterhorarios)="onGetFilters($event)" />
          <search-list (searchcomponent)="onSearch($event)" />
          <estrutura (estrutura)="onGetFilters($event)" />
          <local (local)="onGetFilters($event)" />
          <fechadas (undfechada)="onGetFilters($event)" />
        </form>
      </div>
    </div>
  </div>
</div>
