:root{
  --dark-grey: #333333;
  --light-grey: #808080;
  --light-grey-010: #c9c9c9;
  --light-grey-015: #ececec;
  --yellow: #FFB612;
  --yellow-010: #ebb129;
  --red: #dc0a17;
  --green: #2FC022;



  *{
    padding: 0;
    margin: 0;
    font-family: Gotham;
    box-sizing: border-box;
    }

    body{
      width: 100%;
      height: 100%;
    }
}

@font-face {
  font-family:Gotham ;
  src: url('./assets/fonts/Gotham/gotham-light.woff2') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family:Gotham ;
  src: url('./assets/fonts/Gotham/gotham-book.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family:Gotham ;
  src: url('./assets/fonts/Gotham/gotham-bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family:Gotham ;
  src: url('./assets/fonts/Gotham/gotham-black.woff2') format('truetype');
  font-weight: 900;
  font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
