<div class="container">
  <div class="content">
    <div class="container-text">
      <h1>Smart Fit App:
        Seu aliado nos treinos!
      </h1>
      <div class="topics">
        <ul>
          <li>Confira seu treino personalizado completo</li>
          <li>Acompanhe o progresso de carga</li>
          <li>Veja a execução dos exercícios em vídeo</li>
          <li>Compre ou faça upgrade de plano</li>
        </ul>
      </div>
    </div>
    <div class="container-photo">
      <div class="cardRet">
        <img src="./assets/img/smart_fit_app-BR.png" alt="img-celular" class="img">
      </div>
    </div>
  </div>
</div>
