.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px;
  overflow-y: scroll;
  height: 46rem;
}

.card-list li {
  list-style: none;
}

// @media (min-width: 768px) {
//   .card-list {
//     max-width: 55%;
//   }
// }

::-webkit-scrollbar {
  display: none;
}
