.card-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
  height: 46rem;
  padding: 0px 40px;
  padding-top: 60px;
}

@media (max-width: 768px) {
  .card-list {
    padding: 0px 40px;
  }
}
.card-list li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}
