<div class="container">
  <img src="./assets/img/Beneficios-de-fazer-academia-Para-sua-saude-e-seu-corpo-scaled.jpg" alt="img-academia"
    srcset="" class="img-prin">
  <div class="container-text">
    <h1>Academia</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fuga veniam odio laboriosam, aperiam nobis omnis
      molestiae repellendus. Velit eos molestias incidunt unde officia quia. Eius veritatis inventore assumenda ratione.
      Nulla quae molestiae iure qui? Saepe non, similique tempora commodi dolorum eveniet quae? Aliquid laborum aliquam
      voluptates ipsam est, ipsum quos obcaecati consequuntur doloremque architecto asperiores illum iste? Eveniet,
      omnis!
      Eius quam nisi vero esse? Vero incidunt debitis suscipit molestiae eveniet dicta laboriosam consequuntur amet
      illum, provident nihil maxime officiis cupiditate, aperiam facere veritatis atque minus blanditiis! Voluptatum, ea
      nemo?
      Atque quod optio quaerat dolores, quo recusandae voluptatem distinctio quam voluptatibus! Repellendus perferendis
      eveniet iure ea architecto? Assumenda, ad cumque. Aut nostrum, quo ab aperiam perspiciatis rem atque distinctio
      porro!</h2>
  </div>
</div>
