.card-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 15px;
  overflow-y: scroll;
  height: 48rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .card-list {
    padding: 10px 40px;
  }
  .card-list {
justify-content: center;
}
}

.card-list li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}
